extends ../../app/pug/layouts/base-secondary.pug

append vars
  - title = "Doctors"
  - description = "Описание Doctors"

append content
    +regPage('doctors')
    +regComponent('breadcrumbs', true, true)
    +regComponent('doctor-card')
    +regBlock('banner-consultation', true, true)
    +regBlock('map', true, true)

    .page-general
        .page-general__breadcrumbs
            +breadcrumbs(['Главная', 'Врачи'])
        .page-general__header
            h1.page-general__title Врачи
        .page-general__content
            .doctors
                section.doctors__list
                    +doctorCard("Стаж 21 год", "Авдошина Юлия Владимировна", "Зубной врач", "1")
                    +doctorCard("Стаж 36 лет", "Аксёнова Галина Александровна", "Главный врач, врач стоматолог-терапевт ", "2")
                    +doctorCard("Стаж 9 лет", "Выселкина Анастасия Дмитриевнa", "Врач стоматолог-терапевт", "3")
                    +doctorCard("Стаж 24 года", "Дементьева Елена Александровна", "Зубной врач-гигиенист", "4")
                    +doctorCard("Стаж 28 лет", "Кашкорова Анна Александровна", "Детский врач", "5")
                    +doctorCard("Стаж 30 лет", "Кузяева Наталья Александровна", "Врач-стоматолог-терапевт", "6")
                    +doctorCard("Стаж 31 год", "Мухаметзянов Айрат Абуллович", "Врач стоматолог-хирург", "7")
                    +doctorCard("Стаж 3 года", "Воронцов Артём Михайлович", "Врач-стоматолог")
                    +doctorCard("Стаж 3 года", "Пушкарева Дарья Александровна", "Врач-стоматолог-терапевт", "8")
                    +doctorCard("Стаж 36 лет", "Яковлева Марина Васильевна", "Врач стоматолог-ортодонт")
                    +doctorCard("Стаж 00 лет", "Сюндюков Анатолий Иванович", "------", "9")
                    +doctorCard("Стаж 4 года", "Соловьёв Данила Андреевич", "Врач-стоматолог-ортопед")
                    +doctorCard("Стаж 36 лет", "Яковлева Марина Васильевна", "Врач стоматолог-ортодонт")
                section.doctors__banner-consultation
                    +bannerConsultation()
                section.doctors__map
                    +map()


