mixin mapModal()
    //- регистрация
    //- +regLibrary('lib-name/lib.css', 'lib-name/lib.js')
    //- +regComponent('component-name', true, true)

    //map-modal
    .map-modal&attributes(attributes)
        .map-modal__map-view
            .map-element
