//Onest
@font-face {
  font-family: 'Onest';
  src: url('../fonts/onest/Onest-Regular.eot');
  src: url('../fonts/onest/Onest-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/onest/Onest-Regular.woff2') format('woff2'),
  url('../fonts/onest/Onest-Regular.woff') format('woff'),
  url('../fonts/onest/Onest-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../fonts/onest/Onest-SemiBold.eot');
  src: url('../fonts/onest/Onest-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/onest/Onest-SemiBold.woff2') format('woff2'),
  url('../fonts/onest/Onest-SemiBold.woff') format('woff'),
  url('../fonts/onest/Onest-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../fonts/onest/Onest-Medium.eot');
  src: url('../fonts/onest/Onest-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/onest/Onest-Medium.woff2') format('woff2'),
  url('../fonts/onest/Onest-Medium.woff') format('woff'),
  url('../fonts/onest/Onest-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


//jetBrainsMono
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/jetbrains-mono/JetBrainsMono-ExtraBold.eot');
  src: url('../fonts/jetbrains-mono/JetBrainsMono-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/jetbrains-mono/JetBrainsMono-ExtraBold.woff2') format('woff2'),
  url('../fonts/jetbrains-mono/JetBrainsMono-ExtraBold.woff') format('woff'),
  url('../fonts/jetbrains-mono/JetBrainsMono-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/jetbrains-mono/JetBrainsMono-Medium.eot');
  src: url('../fonts/jetbrains-mono/JetBrainsMono-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/jetbrains-mono/JetBrainsMono-Medium.woff2') format('woff2'),
  url('../fonts/jetbrains-mono/JetBrainsMono-Medium.woff') format('woff'),
  url('../fonts/jetbrains-mono/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/jetbrains-mono/JetBrainsMono-Regular.eot');
  src: url('../fonts/jetbrains-mono/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/jetbrains-mono/JetBrainsMono-Regular.woff2') format('woff2'),
  url('../fonts/jetbrains-mono/JetBrainsMono-Regular.woff') format('woff'),
  url('../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/jetbrains-mono/JetBrainsMono-Bold.eot');
  src: url('../fonts/jetbrains-mono/JetBrainsMono-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/jetbrains-mono/JetBrainsMono-Bold.woff2') format('woff2'),
  url('../fonts/jetbrains-mono/JetBrainsMono-Bold.woff') format('woff'),
  url('../fonts/jetbrains-mono/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


//SF-Pro
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro/SFProDisplay-Semibold.eot');
  src: url('../fonts/sf-pro/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sf-pro/SFProDisplay-Semibold.woff2') format('woff2'),
  url('../fonts/sf-pro/SFProDisplay-Semibold.woff') format('woff'),
  url('../fonts/sf-pro/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
