include modal/modal
include breadcrumbs/breadcrumbs

include map-modal/map-modal
include form-consultation/form-consultation

include checkbox/checkbox
include input/input
include search/search
include doctor-card/doctor-card
include doctor-publication-card/doctor-publication-card
include video-card/video-card
include review-card/review-card