.breadcrumbs {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.breadcrumbs__back-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  margin-block: auto;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 13px;
  color: black;
  opacity: 0;
  visibility: hidden;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.breadcrumbs__back-link:hover .icon {
  color: blue;
}
.breadcrumbs__back-link-icon {
  display: block;
  width: 13px;
  height: 9px;
  transform: rotate(90deg);
  color: slategrey;
}
.breadcrumbs__list-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.breadcrumbs__list-box::before, .breadcrumbs__list-box::after {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 50px;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  content: "";
  transition: opacity 0.3s ease-in-out;
}
.breadcrumbs__list-box::before {
  left: 0;
  width: 70px;
}
.breadcrumbs__list-box::after {
  right: 0;
}
.breadcrumbs--has-right-overflow .breadcrumbs__list-box::after {
  opacity: 1;
}
.breadcrumbs--has-left-overflow .breadcrumbs__list-box::before {
  opacity: 1;
}
.breadcrumbs__list {
  position: relative;
  z-index: 0;
  display: flex;
  list-style-type: none;
  font-weight: 450;
  font-size: 13px;
  line-height: 1.5;
  color: lightgray;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.breadcrumbs__list::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .breadcrumbs__list {
    font-size: 13px;
  }
}
.breadcrumbs__item {
  display: flex;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  color: #b4bbc8;
}
.breadcrumbs__link {
  color: inherit;
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
}
.breadcrumbs__link:hover {
  color: #e41874;
}
.breadcrumbs__current {
  white-space: nowrap;
  color: #898ea2;
}
.breadcrumbs__devider {
  margin: 0 4px;
}
.breadcrumbs__devider::before {
  content: "/";
}
.breadcrumbs.breadcrumbs--has-left-overflow .breadcrumbs__back-link {
  opacity: 1;
  visibility: visible;
}