
include footer/footer
include header/header
include clinic-services/clinic-services
include clinic-about/clinic-about
include map/map
include cookie/cookie
include socials/socials

include banner-consultation/banner-consultation
include modal-consultation/modal-consultation
include modal-success/modal-success
include clinic-achievements/clinic-achievements
include main-block/main-block
include other-doctors/other-doctors